# Dependencies
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Environment Variables
.env
Frontend/.env
Backend/.env

# Build folders
Frontend/dist/
Frontend/build/
Backend/dist/
Backend/build/

# Logs
*.log
logs/

# Coverage
coverage/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db